<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fizzy.mapper.FileMapper">

    <resultMap id="file" type="com.fizzy.pojo.File">
        <result property="elementId" column="element_id"/>
        <result property="parentElementId" column="parent_element_id"/>
        <result property="userId" column="user_id"/>
        <result property="fileName" column="file_name"/>
        <result property="fileSize" column="file_size"/>
        <result property="fileType" column="file_type"/>
        <result property="typeImageUrl" column="type_image_url"/>
        <result property="fileUrl" column="file_url"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <select id="selectFile" parameterType="com.fizzy.pojo.File" resultMap="file">
        SELECT
            file.`element_id` AS element_id,
            file.`parent_element_id` AS parent_element_id,
            file.`user_id` AS user_id,
            file.`file_name` AS file_name,
            file.`file_size` AS file_size,
            file.`file_type` AS file_type,
            type.`type_image_url` AS type_image_url,
            file.`file_url` AS file_url,
            file.`create_time` AS create_time,
            file.`update_time` AS update_time
        FROM
            `netdisk`.`file` AS FILE
        INNER JOIN
            `netdisk`.`file_type` AS TYPE
        ON
            file.`file_type` = TYPE.`id`
        <trim prefix="WHERE" suffixOverrides="AND">
            <if test="element_id != null and element_id > 0">
                file.element_id = #{element_id} AND
            </if>
            <if test="parent_element_id != null and parent_element_id >= 0">
                file.parent_element_id = #{parent_element_id} AND
            </if>
            <if test="user_id != null and user_id > 0">
                file.user_id = #{user_id} AND
            </if>
            <if test="file_name != null and file_name != ''">
                file.file_name = #{file_name} AND
            </if>
            <if test="file_size != null and file_size > 0">
                file.file_size = #{file_size} AND
            </if>
            <if test="file_type != null and file_type > 0">
                file.file_type = #{file_type} AND
            </if>
            <if test="file_url != null and file_url != ''">
                file.file_url = #{file_url} AND
            </if>
            <if test="create_time != null">
                file.create_time = #{create_time} AND
            </if>
            <if test="update_time != null">
                file.update_time = #{update_time} AND
            </if>
        </trim>
        <if test="element_id != null and element_id != ''">
            LIMIT 1
        </if>
    </select>

    <insert id="insertFile" parameterType="com.fizzy.pojo.File">
        INSERT INTO `netdisk`.`file`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="element_id != null and element_id > 0">
                `element_id`,
            </if>
            <if test="parent_element_id != null and parent_element_id > 0">
                `parent_element_id`,
            </if>
            <if test="user_id != null and user_id > 0">
                `user_id`,
            </if>
            <if test="file_name != null and file_name != ''">
                `file_name`,
            </if>
            <if test="file_size != null and file_size > 0">
                `file_size`,
            </if>
            <if test="file_type != null and file_type > 0">
                `file_type`,
            </if>
            <if test="file_url != null and file_url != ''">
                `file_url`,
            </if>
            <if test="create_time != null">
                `create_time`,
            </if>
            <if test="update_time != null">
                `update_time`,
            </if>
        </trim>
        <trim prefix="VALUES(" suffix=")" suffixOverrides=",">
            <if test="element_id != null and element_id > 0">
                #{element_id},
            </if>
            <if test="parent_element_id != null and parent_element_id > 0">
                #{parent_element_id},
            </if>
            <if test="user_id != null and user_id > 0">
                #{user_id},
            </if>
            <if test="file_name != null and file_name != ''">
                #{file_name},
            </if>
            <if test="file_size != null and file_size > 0">
                #{file_size},
            </if>
            <if test="file_type != null and file_type > 0">
                #{file_type},
            </if>
            <if test="file_url != null and file_url != ''">
                #{file_url},
            </if>
            <if test="create_time != null">
                #{create_time},
            </if>
            <if test="update_time != null">
                #{update_time},
            </if>
        </trim>
    </insert>

    <update id="updateFile" parameterType="com.fizzy.pojo.File">
        UPDATE
        `netdisk`.`File`
        <trim prefix="SET(" suffix=")" suffixOverrides=",">
            <if test="element_id != null and element_id > 0">
                `element_id` = #{element_id},
            </if>
            <if test="parent_element_id != null and parent_element_id > 0">
                `parent_element_id` = #{parent_element_id},
            </if>
            <if test="user_id != null and user_id != ''">
                `user_id` = #{user_id},
            </if>
            <if test="file_name != null and file_name != ''">
                `file_name` =#{file_name},
            </if>
            <if test="file_size != null and file_size > 0">
                `file_size` =#{file_size},
            </if>
            <if test="file_type != null and file_type > 0">
                `file_type` =#{file_type},
            </if>
            <if test="file_url != null and file_url != ''">
                `file_url` =#{file_url},
            </if>
            <if test="create_time != null">
                `create_time` = #{create_time},
            </if>
            <if test="update_time != null">
                `update_time` = #{update_time},
            </if>
        </trim>
        WHERE `id` = #{id}
    </update>

    <delete id="deleteFile" parameterType="Integer">
        DELETE FROM `netdisk`.`file` WHERE `element_id` = #{element_id}
    </delete>
</mapper>
