<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fizzy.mapper.PermissionMapper">
    <select id="findAll" resultType="com.fizzy.pojo.Permission">
            SELECT
              `id`,
              `name`,
              `expression`
            FROM
              `permission`
        </select>

    <insert id="insertRolePermission" parameterType="Integer">
        INSERT INTO role_permission (`role_id`, `permission_id`) VALUES (#{role_id}, #{permission_id})
    </insert>

    <insert id="insertPermission" parameterType="com.fizzy.pojo.Permission">
        INSERT INTO `permission` (`name`, `expression`)
        VALUES (#{name}, #{expression})
    </insert>

    <delete id="deletePermissionByRoleId" parameterType="Integer">
        DELETE FROM `role_permission` WHERE role_id = #{role_id}
    </delete>

    <delete id="deleteAll">
        DELETE FROM `permission`
    </delete>

    <delete id="deletePermissionById" parameterType="Integer">
        DELETE FROM `permission` WHERE id = #{id}
    </delete>

    <select id="selectPermissionByEmployeeId" resultType="com.fizzy.pojo.Permission">
        SELECT
          e.`id`,
          e.`name`,
          e.`password`,
          e.`email`,
          e.`age`,
          e.`admin`,
          e.`dept_id`,
          rp.`permission_id`
        FROM
          `employee` e
        LEFT JOIN `employee_role` er ON e.`id` = er.`employee_id`
        LEFT JOIN `role_permission` rp ON rp.`role_id` = er.`role_id`
        WHERE e.`id` = #{employeeId}
    </select>
</mapper>