<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fizzy.mapper.SlaveMapper">
    <select id="selectSlave" parameterType="com.fizzy.pojo.Slave" resultType="com.fizzy.pojo.Slave">
        SELECT
            `uuid`,
            `address`,
            `total_space`,
            `used_space`,
            `master_key`,
            `create_time`,
            `update_time`
        FROM
        `netdisk`.`user`
        <trim prefix="WHERE" suffixOverrides="AND">
            <if test="id != null and id != ''">
                id = #{id} AND
            </if>
            <if test="uuid != null and uuid != ''">
                uuid = #{uuid} AND
            </if>
            <if test="user_id != null and user_id != ''">
                address = #{address} AND
            </if>
        </trim>
        LIMIT 0, 1000 ;
    </select>

    <insert id="insertSlave" parameterType="com.fizzy.pojo.Slave">
        INSERT INTO `netdisk`.`slave`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uuid != null and uuid != ''">
                `uuid`,
            </if>
            <if test="address != null and address != ''">
                `address`,
            </if>
            <if test="total_space != null and total_space > 0">
                `total_space`,
            </if>
            <if test="used_space != null and used_space > 0">
                `used_space`,
            </if>
            <if test="master_key != null and master_key != ''">
                `master_key`,
            </if>
            <if test="create_time != null">
                `create_time`,
            </if>
            <if test="update_time != null">
                `update_time`,
            </if>
        </trim>
        <trim prefix="VALUES(" suffix=")" suffixOverrides=",">
            <if test="uuid != null and uuid != ''">
                #{uuid},
            </if>
            <if test="address != null and address != ''">
                #{address},
            </if>

            <if test="total_space != null and total_space > 0">
                #{total_space},
            </if>
            <if test="used_space != null and used_space > 0">
                #{used_space},
            </if>
            <if test="master_key != null and master_key != ''">
                #{master_key},
            </if>
            <if test="create_time != null">
                #{create_time},
            </if>
            <if test="update_time != null">
                #{update_time},
            </if>
        </trim>
    </insert>

    <update id="updateSlave" parameterType="com.fizzy.pojo.Slave">
        UPDATE
        `netdisk`.`slave`
        <trim prefix="SET(" suffix=")" suffixOverrides=",">
            <if test="uuid != null and uuid != ''">
                `uuid` = #{uuid},
            </if>
            <if test="address != null and address != ''">
                `address` = #{address},
            </if>
            <if test="total_space != null and total_space > 0">
                `total_space` = #{total_space},
            </if>
            <if test="used_space != null and used_space > 0">
                `used_space` = #{used_space},
            </if>
            <if test="master_key != null and master_key != }'">
                `master_key` = #{master_key},
            </if>
            <if test="create_time != null">
                `create_time` = #{create_time},
            </if>
            <if test="update_time != null">
                `update_time` = #{update_time},
            </if>
        </trim>
        WHERE `id` = #{id}
    </update>

    <delete id="deleteSlave" parameterType="java.lang.String">
        DELETE FROM `netdisk`.`slave` WHERE `uuid` = #{uuid}
    </delete>
</mapper>
